@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");

$font-body:"Robot",
sans-serif;
$font-diaplay: "Dancing script",
serif;


$color-function: lightslategray;
$color-operation: darkorange;
$color-white: white;
$color-black: black;
$color-button:#333;

* {
    margin: 0;
    padding: 20px;
}