@use "_base.scss"as *;

.calculator {
    background-color: $color-black;
    width: 300px;
    height: 550px;
    padding-top: 20px;
    color: $color-white;
    position: relative;
    border-radius: 2%;
    margin-left: 35%;
}

.value {
    font-size: 30px;
    height: 50px;
    font-style: normal;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: right;
}

.button-conatiner {
    display: grid;
    height: 400px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 10px;
}

.bottom {
    text-decoration: underline;
    background-color: $color-white;
    left: 30%;
    padding: 0px;
    width: 7rem;
    height: 3px;
    margin-top: 10px;
    background-color: $color-operation;
    position: absolute;
}